h1.App-title {
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: avenir;
  color: #2A3132;
  font-size: 25px;
}

.completed{
  text-decoration: line-through;
}

form {
  margin: 60px;
}

input[type=text] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #2A3132;
  font-size: 20px;
  font-family: avenir;
}

button {
  margin: 0px 0px 0px 10px;
  font-size: 20px;
  border: 1px solid #90AFC5;
  border-radius: 5px;
  font-family: avenir;
  color: #90AFC5;
}

button:hover {
  margin: 0px 0px 0px 10px;
  font-size: 20px;
  border: 1px solid #90AFC5;
  background: #90AFC5;
  color: white;
  border-radius: 5px;
  font-family: avenir;
  transition-duration: 0.4s;
}

header.App-header {
  background: #90AFC5;
  height: 10%;
}

ul {
  list-style-position: inside;
  color: #2A3132;
  padding: 10px;
}

